.editable-text {
    cursor: pointer;
}

div {
    text-align: center;
    color: oldlace;
    font-size: 30px;
    padding: 20px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 75px;
    padding-top: 20px;
    color: oldlace;
}

html {
    background-color: black;
}